<div class="block app-block-footer">
	<div class="container">
		<div class="row justify-content-center">
			<ul class="list-unstyled list-inline">
				<li class="list-inline-item">
					<a href="https://www.linkedin.com/company/ion-technologies-nz/">Linkedin</a>
				</li>
				<li class="list-inline-item">
					<a href="mailto:info@iontech.nz">Email</a>
				</li>
			</ul>
		</div>
		<div class="row justify-content-center">
			<p>Ion Technologies is a software development consultancy based in the beautiful Bay of Islands, New Zealand.</p>
		</div>
	</div>
</div>

{{ partial "svg" . }}

<script>
	//<![CDATA[
	// get all 'image-loader' containers
	function imageLoader() {
		var containers = document.getElementsByClassName('image-loader');
		var containerList = Array.prototype.slice.call(containers);
		containerList.forEach(getImage);
	}

	// get all images from within 'image-loader' containers
	function getImage(element) {
		var images = element.getElementsByTagName('img');
		var imageList = Array.prototype.slice.call(images);
		imageList.forEach(addImageLoadingClass);
	}

	// add 'image-loading' class
	function addImageLoadingClass(element) {
		element.classList.add('image-loading');
	}

	// launch the image loader
	(function () {
		imageLoader();
	})();
	//]]>
</script>
<!-- Include jQuery (required) and the JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://unpkg.com/popper.js@1.12.9/dist/umd/popper.js"></script>
<script src="/app.js"></script>

</body>

</html>
