
    <div class="container pt-4">
        <nav class="navbar navbar-light navbar-expand-sm text-uppercase app-navbar mb-5">
            <a class="navbar-brand mr-auto" href="/">
                <img src="/img/icon-sm-transparent.png" style="width:1.5rem;height:1.5rem;" alt="">
                Ion Technologies
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">What We Do</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/blog">Blog</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/about-us">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/meet-the-team">Meet The Team</a>
                    </li>
				</ul>
            </div>
            <!--/.nav-collapse -->
        </nav>
    </div>
