{{ define "main" }}

<div class="container">
	<div class="block block-bordered-lg">
		<div class="container text-center app-translate-15" data-transition="entrance">
			<div class="row justify-content-center">
				<h2>Contact us</h2>
			</div>
			<div class="row justify-content-center lead">
				<a href="mailto:info@iontech.nz">info@iontech.nz</a>
			</div>
			<div class="row justify-content-center lead">
				<a href="tel:+6495533057">09 553 3057</a>
			</div>
		</div>
	</div>

	<div class="block block-bordered-lg">
		<div class="container text-center app-translate-15" data-transition="entrance">
			<div class="row justify-content-center">
				<div class="col-sm-8 text-center mb-5">
					<h2>About Us</h2>
				</div>
			</div>
			<div class="row text-justify">
				<p>
					At Ion Technologies, we have three Directors who all work fulltime in the business.  Each has their own area of expertise and qualifications which combined, offer a technical competency unmatched by any other Northland software development and engineering company.
				</p>
				<p>
					But what really sets our team apart is the ability to ask the right questions to clearly understand the outcome you are looking for and then design a practical solution that will continue to work for you long-term. While we're highly qualified and experienced in most software programmes and coding (and happy to talk technical where required), the team will work with you and your staff explaining the process in plain English so that everyone is on the same page.
				</p>
				<p>
					While our core team is small, we have a raft of highly skilled specialists that we call in for large projects and/or tight deadlines. This enables us to build a team based on your exact requirements and to provide senior skills at cost-effective prices.
				</p>
				<p>
					Another thing that makes us different is that although we are a technology-based company, we are all about people. We strongly believe in a work-life balance so that when we’re at work we’re fresh and focussed on delivering your needs. We’re adamant that useful technology exists to save time, reduce stress and make life easier for the people using it.
				</p>
				<p>
					We offer a range of services including but not limited to:
				</p>
				<ul>
					<li><strong>Web Application Development</strong> – we can help you get your big idea off the ground</li>
					<li><strong>Software Reporting</strong> – we build customised dashboards and metrics so you can see at a glance how your company is performing in real time and make decisions based on accurate information</li>
					<li><strong>Software Consulting & Staff Training</strong> – We can upskill your development team and/or provide experienced staff to fulfil a project</li>
					<li><strong>Data Integration</strong> - we can make your various software systems talk to each other avoiding unnecessary manual data entry</li>
					<li><strong>Data Migration</strong> – if you’re changing systems we can save you hours of time entering existing data and ensure the information transfer is seamless</li>
					<li><strong>Process Automation</strong> – increase accuracy and efficiency by reducing the amount of manual input and data entry</li>
					<li><strong>Software Selection / Open Source</strong> – avoid reinventing the wheel. Tell us what you need to achieve and we can help identify existing software solutions that will best suit your business needs and, if need be, customise it help perform better for you</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="block block-bordered-lg">
		<div class="container text-center app-translate-15" data-transition="entrance">
			<div class="row justify-content-center">
				<div class="col-sm-8 text-center mb-5">
					<h2>Meet The Team</h2>
				</div>
			</div>
			<blockquote class="pull-quote" id="jamie_penney">
				<img class="rounded-circle" alt="Jamie Penney" src="/img/avatar-jamie.jpg">
				<h3 class="mt-3">Jamie Penney</h3>
				<h4>The Jack Of All Trades</h4>
				<div class="text-justify">
					<p>Jamie is the founder of Ion Technologies. After many years working in Auckland and Wellington for large software companies such as Xero, Spotlight and Raygun, Jamie returned to his hometown of Kerikeri in 2017 determined to create a better work life balance so that he could spend more time with his wife and two sons.</p>
					<p>An experienced Senior Software Developer, Front-end Engineer and Team Leader, Jamie uses his many skills to assess client’s needs, evaluate possible solutions, and to help them implement the plan.</p>
					<p>This often means identifying existing off-the-shelf programs and customising them to provide cost-effective solutions that fulfil any specific needs. For larger companies, with more complex requirements, it can include designing programmes from scratch or writing software that enables various programmes to ‘speak’ to each other to minimise double handling and manual data entry.</p>
					<p>A great communicator, with a real ability to translate complicated technical information into plain English, Jamie is the person who will help scope out your project.</p>
					<p>Outside of work, Jamie enjoys rock climbing, playing board games with the family and fiddling around with home automation.</p>
				</div>
				<div>
					<h4>Qualifications</h4>
					<div>Bachelor of Engineering (hons) in Software Engineering from the University of Auckland</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-6">
						<h4>Programming Languages</h4>
						<ul class="text-left">
							<li>C++</li>
							<li>C#</li>
							<li>Java</li>
							<li>JavaScript</li>
							<li>Python</li>
							<li>Ruby</li>
						</ul>
					</div>
					<div class="col-md-6">
						<h4>Technologies</h4>
						<ul class="text-left">
							<li>Amazon Web Services</li>
							<li>ASP.NET MVC</li>
							<li>Dotnet Framework and Dotnet Core</li>
							<li>ElasticSearch</li>
							<li>Flask</li>
							<li>Hugo</li>
							<li>MySQL</li>
							<li>NHibernate</li>
							<li>NodeJS</li>
							<li>Microsoft SQL Server</li>
							<li>PostgreSQL</li>
							<li>Redis</li>
							<li>ReactJS</li>
							<li>Redux</li>
							<li>SQLAlchemy</li>
						</ul>
					</div>
				</div>
			</blockquote>

			<blockquote class="pull-quote" id="nick_lironi_irvine">
				<img class="rounded-circle" alt="Nick Lironi-Irvine" src="/img/avatar-nick.png">
				<h3 class="mt-3">Nick Lironi-Irvine</h3>
				<h4>The Organiser</h4>
				<div class="text-justify">
					<p>Nick specialises in web application development using Java technologies.</p>
					<p>He has extensive experience leading large teams to build complex programmes and has held various Software Engineering and technical leadership roles for NZ company Orion Health.</p>
					<p>His projects there included developing secure electronic referrals systems, creating efficient clinical documentation and developing robust workflow processes. Nick’s our ‘go to’ guy when it comes to developing secure systems and protecting sensitive data.</p>
					<p>Nick spent his teenage years in Kerikeri and is relishing his return to the Far North. Together with his wife and their two daughters, they are planning a more sustainable lifestyle with enough space to have a cat, chickens and an ever-growing menagerie of pets.</p>
				</div>
				<div>
					<h4>Qualifications</h4>
					<div>Bachelor of Engineering (Honours) in Software Engineering from the University of Auckland</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-6">
						<h4>Programming Languages</h4>
						<ul class="text-left">
							<li>Java</li>
							<li>JavaScript</li>
							<li>Python</li>
						</ul>
					</div>
					<div class="col-md-6">
						<h4>Technologies</h4>
						<ul class="text-left">
							<li>Amazon Web Services</li>
							<li>Hibernate</li>
							<li>JavaScript UIs</li>
							<li>Microsoft SQL Server</li>
							<li>Oracle</li>
							<li>REST APIs with Jersey and Jackson</li>
							<li>Stripes + JSP</li>
							<li>Test Driven Development using JUnit</li>
						</ul>
					</div>
				</div>
			</blockquote>
			<blockquote class="pull-quote" id="phillip_hutchings">
				<img class="rounded-circle" alt="Phillip Hutchings" src="/img/avatar-phillip.jpg">
				<h3 class="mt-2">Phillip Hutchings</h3>
				<h4>The Brains</h4>
				<div class="text-justify">
					<p>Phillip has worked across the industry covering every aspect from concept development to execution. Past experience includes roles as a Product Architect, Software Developer and a Software Engineer and one of his key strengths is in assessing workflow to help design logical processes.</p>
					<p>Phillip has worked for a number of large multi-nationals including Xero, Pushpay & Innaworks and has significant experience in financial management reporting, accounting software, online payment processes and Cloud infrastructure design and management.</p>
					<p>His other talents include Mobile App Development, research and development, and hardware design.</p>
				</div>
				<div>
					<h4>Qualifications</h4>
					<div>BCA (Information Systems) from Victoria University, 2004</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-6">
						<h4>Programming Languages</h4>
						<ul class="text-left">
							<li>C++</li>
							<li>C#</li>
							<li>F#</li>
							<li>JavaScript</li>
							<li>Objective-C</li>
							<li>Python</li>
						</ul>
					</div>
					<div class="col-md-6">
						<h4>Technologies</h4>
						<ul class="text-left">
							<li>Android</li>
							<li>Amazon Web Services</li>
							<li>ASP.NET MVC</li>
							<li>.NET Framework and .NET Core</li>
							<li>iOS</li>
							<li>Microsoft SQL Server</li>
							<li>MySQL</li>
							<li>PostgreSQL</li>
							<li>ReactJS</li>
							<li>Redux</li>
							<li>SQL ALchemy</li>
						</ul>
					</div>
				</div>
			</blockquote>
			<hr />
			<blockquote class="pull-quote">
				<h3>Your face here?</h3>
				<p class="text-justify">
					Looking for work? We might have just the thing for you! Get in touch with us at
					<a href="mailto:jobs@iontech.nz">jobs@iontech.nz</a>
					and we'll have a chat.
				</p>
			</blockquote>
		</div>
	</div>


	<div class="block block-bordered-lg">
		<div class="row justify-content-center">
			<h2>Address</h2>
		</div>
		<div class="row justify-content-center lead">
			<p>Level 1, 3 Cobham Road<br>Kerikeri 0230<br>New Zealand</p>
		</div>
		<div class="row">
			<iframe frameborder="0" class="col-sm-12" style="border:0; height:600px;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCURh4_lq2IM4gsU1qdTP8xUVRP3wx01N4&q=3+Cobham+Rd,Kerikeri+0230,New+Zealand"
				allowfullscreen></iframe>
		</div>
	</div>
</div>

{{ end }}