{{ define "main" }}

<div class="container">
	<div class="block block-bordered-lg">
		<div class="container text-center app-translate-15" data-transition="entrance">
			<div class="row justify-content-center">
				<h2>Contact us</h2>
			</div>
			<div class="row justify-content-center lead">
				<a href="mailto:info@iontech.nz">info@iontech.nz</a>
			</div>
			<div class="row justify-content-center lead">
				<a href="tel:+6495533057">09 553 3057</a>
			</div>
		</div>
	</div>

	<div class="block block-bordered-lg">
		<div class="container text-center app-translate-15" data-transition="entrance">
			<div class="row justify-content-center">
				<div class="col-sm-8 text-center mb-5">
					<h2>About Us</h2>
				</div>
			</div>
			<div class="row text-justify">
				<p>
					At Ion Technologies, we have three Directors who all work fulltime in the business.  Each has their own area of expertise and qualifications which combined, offer a technical competency unmatched by any other Northland software development and engineering company.
				</p>
				<p>
					But what really sets our team apart is the ability to ask the right questions to clearly understand the outcome you are looking for and then design a practical solution that will continue to work for you long-term. While we're highly qualified and experienced in most software programmes and coding (and happy to talk technical where required), the team will work with you and your staff explaining the process in plain English so that everyone is on the same page.
				</p>
				<p>
					While our core team is small, we have a raft of highly skilled specialists that we call in for large projects and/or tight deadlines. This enables us to build a team based on your exact requirements and to provide senior skills at cost-effective prices.
				</p>
				<p>
					Another thing that makes us different is that although we are a technology-based company, we are all about people. We strongly believe in a work-life balance so that when we’re at work we’re fresh and focussed on delivering your needs. We’re adamant that useful technology exists to save time, reduce stress and make life easier for the people using it.
				</p>
				<p>
					We offer a range of services including but not limited to:
				</p>
				<ul>
					<li><strong>Web Application Development</strong> – we can help you get your big idea off the ground</li>
					<li><strong>Software Reporting</strong> – we build customised dashboards and metrics so you can see at a glance how your company is performing in real time and make decisions based on accurate information</li>
					<li><strong>Software Consulting & Staff Training</strong> – We can upskill your development team and/or provide experienced staff to fulfil a project</li>
					<li><strong>Data Integration</strong> - we can make your various software systems talk to each other avoiding unnecessary manual data entry</li>
					<li><strong>Data Migration</strong> – if you’re changing systems we can save you hours of time entering existing data and ensure the information transfer is seamless</li>
					<li><strong>Process Automation</strong> – increase accuracy and efficiency by reducing the amount of manual input and data entry</li>
					<li><strong>Software Selection / Open Source</strong> – avoid reinventing the wheel. Tell us what you need to achieve and we can help identify existing software solutions that will best suit your business needs and, if need be, customise it help perform better for you</li>
				</ul>
			</div>
		</div>
	</div>



	<div class="block block-bordered-lg">
		<div class="row justify-content-center">
			<h2>Address</h2>
		</div>
		<div class="row justify-content-center lead">
			<p>Level 1, 3 Cobham Road<br>Kerikeri 0230<br>New Zealand</p>
		</div>
		<div class="row">
			<iframe frameborder="0" class="col-sm-12" style="border:0; height:600px;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCURh4_lq2IM4gsU1qdTP8xUVRP3wx01N4&q=3+Cobham+Rd,Kerikeri+0230,New+Zealand"
				allowfullscreen></iframe>
		</div>
	</div>
</div>

{{ end }}