{{ define "main" }}

<div class="container text-center app-translate-15" data-transition="entrance">
    <div class="row justify-content-center">
        <div class="col-sm-8 text-center mb-5">
            <h1>Meet The Team</h1>
        </div>
    </div>

    {{ $scratch := newScratch }}
    {{ $scratch.Set "ColSize" "4" }}

    {{ if le (len .Pages) 2 }}
        {{ $scratch.Set "ColSize" "6" }}
    {{ end }}

    <div class="row">
        {{ range .Pages }}

        <div class="col-md-{{ $scratch.Get "ColSize" }} mb-sm-5 px-sm-3" id="{{ lower (replace .Params.Name " "  "_") }}">
            <h2 class="mt-3">{{ .Params.Name }}</h2>
            <h3 class="job-title">{{ .Params.JobTitle }}</h3>
            <a href="{{ .Permalink }}">
                <img class="profile-image" alt="{{ .Params.Name }}" src="{{ .Params.profile }}">
            </a>
            <div class="mt-3">
                {{ .Params.Summary }}
            </div>
            <div class="mt-1">
                <a href="{{ .Permalink }}">Read more about {{ .Params.FirstName }} here.</a>
            </div>
        </div>
        {{ end }}
        <div class="block block-bordered-lg">
            <h3>Your face here?</h3>
            <p class="text-justify">
                Looking for work? We might have just the thing for you! Get in touch with us at
                <a href="mailto:jobs@iontech.nz">jobs@iontech.nz</a>
                and we'll have a chat.
            </p>
        </div>
    </div>
</div>
{{end}}