{{ define "main" }}

<div class="container blog-post">
  <div class="row justify-content-center">
    <div class="col" style="max-width: 900px;">
      <h1 class="text-center">{{.Title}}</h1>

      <div class="d-flex justify-content-between font-weight-light mb-3">
        <div>{{ .Date.Format "Monday January 2, 2006" }}</div>
        <div>Read in {{ .ReadingTime }} minutes</div>
      </div>
      <div>
        <p>{{ .Description }}</p>
        
        {{ if .Params.image }}
        <div class="mb-3">
            <img src="{{ .Params.image }}" alt="{{ .Title }}" style="width: 100%"/>
        </div>
        {{ end }}

        {{ .Content }}
      </div>
    </div>
  </div>
</div>
{{ end }}
